[Desktop Entry]
Type=Application
Version=1.0
Name=Terminal
GenericName=Terminal Emulator
Comment=Run shell commands on Astrix OS
Exec=astrix-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;console;command;
