[Desktop Entry]
Type=Application
Version=1.0
Name=Settings
GenericName=Settings
Comment=Configure Astrix OS
Exec=astrix-settings
Icon=preferences-system
Terminal=false
Categories=System;Settings;
Keywords=settings;preferences;configure;
